@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* This is for footer */
    /* position: relative; */
}

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    word-wrap: break-word;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}

/* Main */
.main {
    margin-top: 1rem;
    text-align: center;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.2rem;
}

/* book card */

/* Modal Popup */
.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 1.2rem;
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 0.2s ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Book form */
.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.add-book-form button {
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.is-read {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.checkbox {
    width: 20px;
    height: 20px;
    accent-color: white;
}

input[type='text'],
input[type='number'] {
    cursor: text;
}